html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	/* background-color: #7F7F7F; */
	background-color: white;/*grey;*/
}

table {
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
	border:0;
	text-align:center;
	vertical-align:middle;
}